<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ctrlcctrlv</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">ctrlcctrlv</a>

                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarNav">

                    <ul class="navbar-nav flex-grow-1">

                        @if (Context.Session.GetString("UsuarioLogueado") != null)
                        {
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Tutores" asp-action="Index">Menu Tutor</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Alumnos" asp-action="AlumnoMenu">Menu Alumno</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link text-danger" asp-controller="Account" asp-action="Logout">Salir</a>
                            </li>
                        }

                    </ul>

                </div>
            </div>
        </nav>
    </header>

    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted text-center">
        <div class="container">
            &copy; 2025 - ctrlcctrlv - <a asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    @* Permitir que las vistas definan una sección opcional "Scripts" *@
    @RenderSection("Scripts", required: false)
</body>
</html>
