@{
    ViewData["Title"] = "Cronograma";
}
@await Html.PartialAsync("AlumnoMenu")

<div class="container mt-3">
    <h2>Cronograma</h2>

    <div class="list-group">
        <div class="list-group-item">
            <strong>12/12/2025</strong> — Entrega final de Proyecto de Ciencias
        </div>
        <div class="list-group-item">
            <strong>18/12/2025</strong> — Examen de Matemática
        </div>
        <div class="list-group-item">
            <strong>20/12/2025</strong> — Fin de clases
        </div>
    </div>
</div>