@{
    ViewBag.Title = "Comunicados";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container py-4">
    <h2>Comunicados</h2>
    <div class="list-group">
        <div class="list-group-item">05/12/2025 - Reunión de padres 18:00</div>
        <div class="list-group-item">01/12/2025 - Feriado local</div>
    </div>
</div>
